.colors {
  color: #255923;
  color: #488C18;
  color: #F29F05;
  color: #D9B573;
  color: #401713;
  color: #dedede;
  color: #5DB596;
  color: #F5C250;
  color: #B4DCCF;
}

/* $darkerGreen: #193D17;
$darkGreen: #255923;
$lightGreen: #65BF9E;
$lighterGreen: #78BFA5;
$gold: #F29F05;
$darkYellow: #F2BA52;
$lightYellow: #F2C777;
$lighterYellow: #D9B573;
$darkBrown: #401713;
$brown: #6B241D;
$lightBrown: #DEB887;
$darkerGray: #686767;
$darkGray: #8F8F8F;
$gray: #A7A7A7;
$lightGray: #DEDEDE; */


.font {
  font-family: 'MontSerrat';
}
