.main-container-adm {
  display: flex;
  height: 100vh;
}

.menu-top-adm {
  width: 18%;
}

.page-body-adm {
  width: 82%;
}

.page-title-adm {
  align-items: center;
  display: flex;
  height: 15%;
  justify-content: center;
}

.page-title-adm h1 {
  font-size: 50px;
}

.main-page-adm {
  height: 85%;
}

.cada-venda-adm {
  border: 2px solid rgba(0, 0, 0, 0.125);
  border-radius: 5%;
  display: flex;
  height: 60px;
  margin: 10px;
  width: 90%;
}

.venda-adm {
  align-items: center;
  color: black;
  display: flex;
  justify-content: space-around;
  width: 100%;
}
