.admin-chats-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  margin: auto;
  padding: 10px auto;
  width: 90%;
}

.chat-card {
  align-items: left;
  background-color: var(--element-bg-color);
  border-radius: 20px;
  box-shadow: 0 4px 17px 0 rgba(0, 0, 0, .25);
  -webkit-box-shadow: 0 4px 17px 0 rgba(0, 0, 0, .25);
  -moz-box-shadow: 0 4px 17px 0 rgba(0, 0, 0, .25);
  cursor: pointer;
  display: flex;
  flex-flow: column nowrap;
  height: 80px;
  justify-content: space-around;
  margin: 10px 5px;
  min-width: 200px;
  padding: 11px 15px 10px;
}

.chat-card > * {
  text-decoration: none;
}

.chat-card section {
  border-radius: 11px;
  color: var(--tertiary-text-color);
  font-style: italic;
  padding: 4px 12px;
}

.chat-card .nickname {
  background-color: var(--bright-element-bg-color);
  font-style: normal;
  font-weight: 600;
  text-align: center;
}
