.App {
  text-align: center;
}

button {
  background-color: snow;
  border-radius: 3px;
  border: none;
  margin: 2px 4px;
  padding: 4px 12px;
}

button:hover {
  background-color: lightgray;
}


button.alert {
  background-color: brown;
  color: snow;
}

button.green {
  background-color: olivedrab;
  color: snow;
}

button:disabled {
  background-color: lightgray;
  color: grey;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
