.cartbutton {
  background-color: #e9925c;
  border: none;
  border-radius: 8px;
  bottom: 0;
  color: white;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 5px;
  padding: 10px 30px;
  position: fixed;
}

.cartbutton:disabled {
  background: darkgray;
}
