body {
  height: 100%;
}

body {
  align-items: center;
  -ms-flex-align: center;
  padding-bottom: 100px;
  padding-top: 100px;
}

.form-signin {
  font-family: Pangolin , cursive;
  margin: auto;
  max-width: 330px;
  padding: 15px;
  width: 100%;
}

.form-signin input[ type = 'email' ] {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  margin-bottom: -1px;
}

.form-signin input[ type = 'password' ] {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  margin-bottom: 10px;
}
