.container-adm {
  background-color: red;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.title-adm {
  align-items: center;
  color: white;
  display: flex;
  height: 15%;
  justify-content: center;
  width: 100%;
}

.title-adm h1 {
  font-size: 300%;
}

.admin-side-bar-container {
  height: 85vh;
}

.main-link-adm {
  display: flex;
  flex-direction: column;
  height: 85vh;
}

.link-first-adm {
  align-items: flex-start;
  height: 90vh;
}

.link-second-adm {
  align-items: flex-end;
}

.link-first-adm .btn-danger {
  font-size: 140%;
}

.link-second-adm .btn-danger {
  font-size: 140%;
}
