body {
  border: 0;
  font-family: Pangolin , cursive;
  margin: 0;
  padding: 0;
}

.top-bar {
  align-self: flex-start;
  background-color: red;
  display: flex;
  width: 100%;
}

.button-title {
  height: 100%;
}

.h1-title {
  align-self: center;
  color: white;
  text-align: center;
  width: 100%;
}

.button-title button {
  padding: 20px 40px;
}

.menu-side-bar {
  position: fixed;
  width: 100%;
}
