.registercontainer {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.titleregister {
  color: #e9925c;
  font-size: 50px;
  font-weight: 500;
}

.registerinformations {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 300px;
  width: 80vw;
}

.inputregister {
  background: transparent;
  border: 1px solid rgb(220, 220, 220, 0.7);
  border-radius: 3px;
  color: rgb(100, 100, 100);
  font-size: 15px;
  font-weight: 500;
  margin-bottom: 12px;
  padding: 6px;
}

.buttonregister {
  background-color: #e9925c;
  border: none;
  border-radius: 3px;
  color: white;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 5px;
  padding: 10px;
}

.buttonregister:disabled {
  background: darkgray;
}

.labelregister {
  display: flex;
  flex-direction: column;
  font-size: 20px;
  font-weight: 500;
}

.labelcheckbox {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 5px;
}

.checkbox {
  margin-left: 5px;
  transform: scale(1.3);
}
