.topbar {
  align-items: center;
  background-color: #e9925c;
  box-shadow: 0 0 5px black;
  display: flex;
  flex-direction: row;
  height: 80px;
  margin-bottom: 90px;
  position: fixed;
  width: 100%;
  z-index: 5;
}

.title {
  color: white;
  font-size: 35px;
  font-weight: 500;
  margin: auto;
}

.container {
  background: none;
  border: 5px solid white;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 10px;
  margin-right: -35px;
  padding: 3px 7px;
}

.container:focus {
  outline: none;
}

.bar1, .bar2, .bar3 {
  background-color: white;
  height: 5px;
  margin: 6px 0;
  transition: 0.4s;
  width: 35px;
}

.change .bar1 {
  transform: rotate(-45deg) translate(-8px, 8px);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  transform: rotate(45deg) translate(-8px, -8px);
}
