.orders {
  background-color: transparent;
  border: 1px solid black;
  border-radius: 2px;
  box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.05);
  color: black;
  display: inline-block;
  margin: 10px;
  padding: 15px 20px;
  text-decoration: none;
  width: 90%;
}

.orders:hover {
  box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.1);
  transform: scale(1.02);
  transition: 0.2s;
}

.date-order {
  margin-bottom: 3%;
  margin-top: -1%;
  padding-top: 0;
}
