@import '../../assets/scss/variables.scss';
@import '../../assets/scss/mixins.scss';

.loading {
  @include flexBox(column);
  width: 100vw;
  height: 100vh;
  z-index: 5;
  background-color: #5DB596;
}