.mainDivProductCard {
  border-radius: 15px;
  height: 240px;
}

.productCard {
  height: inherit;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}

.nomePreco {
  position: absolute;
  margin-top: 50px;
}

.imageCard {
  display: block;
  margin: auto;
  height: 50%;
  margin-top: 5px;
  border-radius: 15px;
}

.divBotoesMaisMenos {
  width: 45vw;
  text-align: center;
  bottom: 1px;
  margin-bottom: 10px;
}

.botoesMainMenos {
  background-color: rgb(196, 150, 33);
  border-radius: 5px;
  font-size: 20px;
  margin: 10px;
  padding: 5pxpx;
}

.texto {
  display: inline;
  font-size: 18px;
  margin: 1px;
  text-align: center;
  position: sticky;
}

.textoMaisMenos {
  font-size: 20px;
  margin: 10px;
}
