@import url('https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap');

.header {
  display: flex;
  flex-direction: row;
}

.title {
  margin-left: 30px;
  font-family: 'Syne Mono';
}

.buttonHamburguer {
  border: 0px;
  border-radius: 5px;
  color: rgb(219, 180, 81);
  background-color: rgb(196, 150, 33);
  box-shadow: 3px 3px rgb(175, 133, 27);
}
