.products-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  flex-direction: column;
}

.product-card {
  display: flex;
  border: solid black 2px;
  justify-content: space-around;
  width: 60%;
  flex-flow: row wrap;
  padding: 1% 3% 1% 3%;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.quantity-control {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 1% 3% 1% 3%;
}

.button {
  background-color: black;
  border: none;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
}
