* {
  margin: 0;
  padding: 0;
}

.nav-main {
  display: flexbox;
  flex-wrap: nowrap;
}

.title-burguer-div {
  display: flex;
}

.btn-toggle-nav {
  background-color: #5fd450;
  background-image: url('../../icons/hamburguer-icon.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 60%;
  cursor: pointer;
  height: 40px;
  width: 8%;
}

.page-title {
  height: 40px;
  text-align: center;
  width: 91%;
}

.aside-menu-on {
  background-color: grey;
  height: 60%;
  margin-top: 40px;
  width: 40%;
  z-index: 1000;
}

.aside-menu-off {
  display: none;
  visibility: hidden;
}

.admin-side-bar-container {
  border: black solid 2px;
  display: flex;
  flex-direction: column;
}
