/* body {  
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
  margin: 0;
  padding: 0;
} */

.main-content {
  display: flex;
  margin: 0;
  width: 100%;
  height: 750px; 
}

.form-content {
  /* border: 0.6px solid rgb(9, 156, 4); */
  margin: auto;
  width: auto;
  height: 50%;
}

.space-margin-top {
  margin-top: 20px;
}

.space-margin-bottom {
  margin-bottom: 20px;
}

.align-button-not {
  /* border: 0.6px solid rgb(9, 156, 4); */
  width: 200px;
  margin: auto;
}

.length-button {
  width: 350px;
  height: 60px;
}

.length-text {
  font-size: 25px;
}

.error-color {
  /* border: 0.6px solid rgb(9, 156, 4); */
  color: red;
  margin-left: 25px;
  font-size: 25px;
}

.control-errorMsg {
  margin-top: 40px;
  font-size: 25px;
}