.client-profile-container {
  height: 95vh;
}

.client-profile-content {
  display: flex;
  flex-flow: column;
  height: 600px;
  justify-content: center;
  margin: auto;
  width: 30%;
}

.client-profile-content button {
  margin: 20px auto;
  width: 20%;
  background-color: rgb(0, 117, 117);
  color: white;
  font-size: larger;
  padding: 10px;
}

.client-profile-content label {
  margin: 10px auto;
  padding: 10px;
}

.client-profile-content input {
  padding: 5px;
  margin: 5px;
}