.geral {
  margin: 1.5rem;
}

.title {
  background: rgb(164, 204, 138);
  border-radius: 0.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0.5rem 2rem;
}

.pedido {
  display: flex;
  flex-direction: row;
  justify-content: left;
}

.data {
  display: flex;
  flex-direction: row;
  justify-content: right;
}

.detalhes {
  border: 5px ridge gray;
  border-radius: 0.5rem;
  display: flex;
  justify-content: space-around;
  margin: 1rem 0;
}

.quantidade {
  font-size: 22px;
  text-align: left;
  width: 30vh;
}

.nome {
  font-size: 22px;
  text-align: start;
  width: 60vh;
}

.preço {
  font-size: 22px;
  width: 15vh;
}

.subtotal {
  font-size: 22px;
  text-align: left;
  width: 20vh;
}
