.msg-container {
  display: flex;
  flex-direction: column;
  margin: 20px;
  padding: 20px;
  max-width: 60vw;
}

.left-msg {
  background-color: black;
  border-radius: 0 26px 26px;
  color: white;
}

.right-msg {
  background-color: lightgray;
  border-radius: 26px 26px 0;
  color: black;
  margin-left: 30vw;
}

.info-container {
  display: flex;
  justify-content: space-around;
}
