@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

admin_orders_details {
  align-items: center !important;
  align-content: center !important;
  display: flex !important;
  flex-flow: column nowrap !important;
  justify-content: center !important;
  margin: auto !important;
  width: 100% !important;
}

.admin_orders_details_title {
  align-items: center !important;
  align-content: center !important;
  display: flex !important;
  flex-flow: row nowrap !important;
  justify-content: space-evenly !important;
  margin: auto !important;
  margin-left: 50px;
  width: 100% !important;
}

.greenStatus {
  background-color: none !important;
  color: #21a809;
}

.yellowStatus {
  background-color: none !important;
  color: #eed91f;
}

.redStatus {
  background-color: none !important;
  color: #eb0e0e;
}

.admin_orders_details_list {
  align-items: center !important;
  align-content: center !important;
  display: flex !important;
  flex-flow: column nowrap !important;
  justify-content: space-evenly !important;
  width: 100% !important;
}

.admin_orders_details_product {
  align-items: center !important;
  align-content: center !important;
  display: flex !important;
  flex-flow: column nowrap !important;
  justify-content: center !important;
  width: 100% !important;
}

.admin_orders_details_price {
  align-items: center;
  align-content: center;
  background-color: #ffffff;
  border: 5px double #205527;
  border-radius: 25px 0px;
  display: flex;
  flex-flow: row wrap;
  font-family: 'Poppins', sans-serif;
  font-size: 18pt !important;
  font-weight: 900 !important;
  justify-content: center;
  margin: 15px;
  width: 300px !important;
}

.admin_orders_details_button {
  align-items: center !important;
  align-content: center !important;
  display: flex !important;
  flex-flow: row nowrap !important;
  justify-content: space-evenly !important;
  margin: auto !important;
  margin-left: 50px;
  width: 100% !important;
}

.admin_orders_details_button button {
  background-color: #205527;
  border: none;
  border-radius: 10px 0px;
  color: #ffffff;
  font-family: 'Poppins', sans-serif;
  font-size: 16pt;
  font-weight: 700;
  height: 40px;
  margin-top: 20px;
  width: 350px;
}

.admin_orders_details_button button:hover {
  background-color: #008200;
  cursor: pointer;
}

.admin_orders_details_button span {
  color: #ff0000;
  font-family: 'Poppins', sans-serif;
  font-size: 16pt;
  font-weight: 900;
  margin-top: 100px;
  padding: 10px;
  text-align: center;
}
