@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

.chat-list-margin {
  margin-left: 250px;
}

.chat-list {
  align-items: center !important;
  align-content: center !important;
  background-color: #ffff;
  border: 5px double #205527;
  border-radius: 25px 0px;
  display: flex !important;
  flex-flow: column nowrap  !important;
  font-family: 'Poppins', sans-serif;
  font-size: 14pt;
  font-weight: 900;
  height: auto !important;
  justify-content: center;
  margin: 0px 10px 20px ;
  max-width: 100% !important;
}