@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

.orderCards {
  align-items: center;
  align-content: center;
  background-color: #ffffff;
  border-bottom: 1px solid #205527;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  margin: auto;
  margin-top: 5px;
  width: 100%;
}

.checkout_card h4 {
  font-family: 'Poppins', sans-serif;
  font-size: 14pt;
  font-weight: 900;
  text-align: center;
  padding: 5px;
}

.checkout_card h3 {
  font-family: 'Poppins', sans-serif;
  font-size: 14pt;
  text-align: center;
  padding: 5px;
}
