@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

.orderCards {
  align-items: center;
  align-content: center;
  background-color: #ffff;
  border: 5px double #205527;
  border-radius: 25px 0px;
  display: flex;
  flex-flow: column nowrap;
  height: 250px !important;
  justify-content: center;
  margin: 10px;
  width: 250px !important;
}

.orderCards:hover {
  background-color: #d6d6d6;
}

a:link {
  color: #000000;
  text-decoration: none;
}

a:visited {
  color: #000000;
}

.orderCards-first {
  align-items: center;
  align-content: center;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  width: 100%;
}

.orderCards-first h4 {
  font-family: 'Poppins', sans-serif;
  font-size: 18pt;
  font-weight: 900;
  text-decoration: none;
}

.orderCards-first p {
  font-family: 'Poppins', sans-serif;
  font-size: 14pt;
  text-decoration: none;
}

.orderCards-second {
  align-items: center;
  align-content: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  width: 100%;
}

.orderCards-second h4 {
  font-family: 'Poppins', sans-serif;
  font-size: 16pt;
  font-weight: 900;
  text-decoration: none;
}

.orderCards-second h3 {
  color: #000 !important;
  font-family: 'Poppins', sans-serif;
  font-size: 16pt;
  font-weight: 900;
  padding: 5px;
  text-decoration: none;
}

.greenStatus {
  background-color: #21a809 !important;
  color: #ffffff !important;
  padding: 10px;
}

.yellowStatus {
  background-color: #eed91f!important;
  color: #ffffff !important;
  padding: 10px;
}

.redStatus {
  background-color: #eb0e0e !important;
  color: #ffffff !important;
  padding: 10px;
}