.register-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 40px;
}

.email-label {
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-bottom: 15px;
  width: 70%;
}

.signup-email {
  border: solid 1px rgb(56, 56, 56);
  border-radius: 14px;
  height: 30px;
  margin-bottom: 10px;
  margin-top: 5px;
}

.password-label {
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-bottom: 15px;
  width: 70%;
}

.signup-password {
  border: solid 1px rgb(56, 56, 56);
  border-radius: 14px;
  height: 30px;
  margin-top: 5px;
  margin-bottom: 10px;
}

.name-label {
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-bottom: 15px;
  width: 70%;
}

.signup-name {
  border: solid 1px rgb(56, 56, 56);
  border-radius: 14px;
  height: 30px;
  margin-bottom: 10px;
  margin-top: 5px;
}

.signup-btn {
  background-color: black;
  border: none;
  border-radius: 14px 14px 0px;
  color: white;
  font-size: 20px;
  height: 40px;
  margin: auto;
  margin-bottom: 15px;
  width: 70%;
}

.signup-p {
  font-size: 12px;
  margin-bottom: 20px;
  padding: 0 48px;
  text-align: center;
}
