@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

.admin-side-bar-container {
  align-items: center;
  align-content: center;
  background-color: #205527;
  display: flex;
  flex-flow: column wrap;
  height: 100%;
  justify-content: flex-start;
  padding-bottom: 25px;
  position: fixed;
  width: 250px;
  z-index: 100;
}

.admin-side-bar-container h1 {
  color: #ffffff;
  font-family: 'Poppins', sans-serif;
  font-size: 20pt;
  font-weight: 900;
  height: 40px;
  margin-top: 50px;
  text-align: center;
}

.admin-side-bar-container button {
  background-color: #ff4000;
  border: none;
  border-radius: 10px 0px;
  color: #ffffff;
  font-family: 'Poppins', sans-serif;
  font-size: 16pt;
  font-weight: 700;
  height: 40px;
  margin-top: 30px;
  width: 200px;
}

.admin-side-bar-container button:hover {
  background-color: #ff6e3d;
  cursor: pointer;
}

.bttn_sidebar_admin_bottom {
  background-color: #000000 !important;
  margin-top: auto !important;
  margin-bottom: 20px;
}

.bttn_sidebar_admin_bottom:hover {
  background-color: #3f3e3e !important;
  cursor: pointer;
}