@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

.messageCli {
  align-items: flex-start;
  align-content: flex-start;
  background-color: #cfcfcf;
  border-radius: 10px 0px;
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
}

.message {
  align-items: flex-end;
  align-content: flex-end;
  background-color: #f3f3f3;
  border-radius: 10px 0px;
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-end;
  flex-grow: 2;
}

.message p {
  font-family: 'Poppins', sans-serif;
  font-size: 12pt;
  font-weight: 900;
  margin: 0px;
  margin-right: 20px;
}

.messageCli p {
  font-family: 'Poppins', sans-serif;
  font-size: 12pt;
  font-weight: 900;
  margin: 0px;
  margin-left: 20px;
}

.message-send {
  align-items: center;
  align-content: center;
  background-color: #205527;
  bottom: 0px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  margin: auto;
  position: fixed;
  width: 100%;
}

.message-send input {
  border-radius: 10px 0px;
  bottom: 0;
  height: 30px;
  margin: 5px 10px;
  width: 70%;
}

.message-send button {
  background-color: #ff4000;
  border: none;
  border-radius: 10px 0px;
  color: #ffffff;
  font-family: 'Poppins', sans-serif;
  font-size: 12pt;
  font-weight: 700;
  height: 30px;
  margin: 15px 10px;
}

.message-send button:hover {
  background-color: #ff6e3d;
  cursor: pointer;
}

.titleChatAdm {
  align-items: center;
  align-content: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.titleChatAdm button {
  background-color: #ff4000;
  border: none;
  border-radius: 10px 0px;
  color: #ffffff;
  font-family: 'Poppins', sans-serif;
  font-size: 12pt;
  font-weight: 700;
  height: 30px;
  margin: 15px 10px;
  width: 10% !important;
}

.titleChatAdm button:hover {
  background-color: #ff6e3d;
  cursor: pointer;
}

.titleChatAdm h1 {
  font-family: 'Poppins', sans-serif;
  font-size: 18pt;
  font-weight: 900;
  margin: 0px;
  margin-left: 20px;
}

.constaine-adimin-chat {
  margin-left: 250px;
}

.message-send-adm {
  align-items: center;
  align-content: center;
  background-color: #205527;
  bottom: 0px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  margin: auto;
  position: fixed;
  width: 87%;
}

.message-send-adm input {
  align-items: center;
  align-content: center;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  border-radius: 10px 0px;
  bottom: 0;
  height: 30px;
  margin: 5px 10px;
  flex-grow: 0.60;
}

.message-send-adm button {
  align-items: center;
  align-content: center;
  display: flex;
  justify-content: center;
  background-color: #ff4000;
  border: none;
  border-radius: 10px 0px;
  color: #ffffff;
  font-family: 'Poppins', sans-serif;
  font-size: 12pt;
  font-weight: 700;
  height: 30px;
  flex-grow: 0.10;
}

.message-send-adm button:hover {
  background-color: #ff6e3d;
  cursor: pointer;
}
