.top-btn {
  border: none;
  border-radius: 14px 1px 14px 14px;
  background-color: #3f51b5;
  padding: 7px;
}

.top-hamburguer {
  align-items: center;
  color: white;
  display: flex;
  font-size: 32px;
}

.title {
  font-family: Open Sans , Helvetica Neue , sans-serif;
  margin: 0;
}

.title-container {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
  width: 100%;
}
