.totalPrice {
  font-size: 20px;
  margin: auto;
  text-align: end;
  width: 80vw;
}

.divButtonCheckout {
  width: 60%;
  margin: auto;
}

.buttonCheckout {
  background-color: rgb(196, 150, 33);
  border: none;
  border-radius: 5px;
  font-family: 'Syne Mono';
  font-size: 18px;
  margin-left: auto;
  width: 100%;
}
