main {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  width: 100%;
}

form {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.email-label {
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-bottom: 15px;
  width: 70%;
}

.email-input {
  border: solid 1px rgb(56, 56, 56);
  border-radius: 14px;
  height: 30px;
  margin-bottom: 10px;
  margin-top: 5px;
}

.password-input {
  border: solid 1px rgb(56, 56, 56);
  border-radius: 14px;
  height: 30px;
  margin-bottom: 20px;
  margin-top: 5px;
}

.password-label {
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-bottom: 20px;
  width: 70%;
}

.signin-btn {
  background-color: black;
  border: none;
  border-radius: 14px 14px 1px;
  color: white;
  font-size: 20px;
  height: 40px;
  margin: auto;
  margin-bottom: 15px;
  width: 70%;
}

.no-account-btn {
  color: black;
  font-size: 12px;
  margin: auto;
  padding: 5px 10px;
  text-decoration: none;
  width: fit-content;
}
