.divLogin {
  font-size: 25px;
  margin-top: 20px;
  margin: 5vw;
  text-align: center;
}

.inputLogin {
  border: rgb(196, 150, 33);
  border-radius: 5px;
  box-shadow: 3px 3px rgb(196, 150, 33);
  height: 5vh;
  margin-top: 20px;
  width: 90vw;
}

.divBotoes {
  display: flex;
  margin: auto;
  width: 95vw;
}

.buttonLogin {
  background-color: rgb(196, 150, 33);
  border: none;
  border-radius: 5px;
  box-shadow: 3px 3px rgb(175, 133, 27);
  flex-direction: row;
  font-family: 'Syne Mono';
  font-size: 15px;
  height: 7vh;
  justify-content: space-around;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3vh;
  padding: 5px 20px;
}
