.cards-container {
  display: flex;
  flex-wrap: wrap;
  font-family: Open Sans , Courier New , sans-serif;
  justify-content: space-between;
  margin-bottom: 72px;
  margin-top: 72px;
  padding: 12px;
}

.card-content {
  align-items: center;
  background-color: white;
  border-radius: 10px;
  box-shadow: 2px 5px 20px -16px;
  display: flex;
  flex-direction: column;
  margin: 5px;
  padding: 5px;
  text-align: center;
  width: 150px;
}

.products-img {
  max-height: 152px;
}

.cards-btn {
  align-items: center;
  display: flex;
  height: 20px;
}

.qty-btn {
  background: none;
  border: none;
  font-size: 30px;
  margin: 0 15px 10px;
}

h4 {
  font-weight: 500;
  margin: 8px;
  min-height: 42px;
}

.price {
  font-weight: 800;
  margin: 10px 0 0;
}

.p-qty {
  font-size: 20px;
  margin: 1px 2px 12px;
}

.checkout-prods-container {
  align-items: center;
  background-color: #3f51b5;
  bottom: 0;
  display: flex;
  justify-content: space-around;
  padding: 18px 0;
  position: fixed;
  width: 100%;
}

.checkout-value {
  font-size: 26px;
  font-weight: 600;
  margin: 0;
}

.checkout-btn {
  background-color: black;
  border: none;
  border-radius: 14px 14px 0;
  box-shadow: 1px 5px 20px -16px;
  color: whitesmoke;
  font-size: 16px;
  font-weight: 600;
  padding: 10px 20px;
  text-transform: uppercase;
}


@media only screen and ( max-width : 650px ) {

  [ class = 'card-content' ] {
    width: 100%;
  }
}
