.mainDiv {
  font-size: 20px;
  padding: 20px;
  text-align: center;
  align-content: center;
}

.titleRegister {
  text-align: center;
}

.inputRegister {
  border: rgb(196, 150, 33);
  border-radius: 5px;
  box-shadow: 3px 3px rgb(196, 150, 33);
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  padding: 10px;
  width: 80vw;
}

.checkRegister {
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}

.buttonRegisterUser {
  background-color: rgb(196, 150, 33);
  border: rgb(196, 150, 33);
  border-radius: 5px;
  box-shadow: 3px 3px rgb(175, 133, 27);
  font-family: 'Syne Mono';
  font-size: 18px;
  margin-bottom: 10px;
  margin-top: 20px;
  padding: 10px;
  width: 60%;
}
