.header {
  align-items: center;
  background-color: black;
  border: 7px groove gray;
  color: white;
  display: flex;
  flex-direction: row;
  padding: 0.5rem;
  width: 100vw;
}

.menu-btn {
  background: linear-gradient(black, gray, white, gray, black);
  border: none;
  height: 3.5rem;
  width: 3.5rem;
}

.title {
  margin: auto;
}
