// body{
//   background-color: white;
//   color: black;
// }

// input {
//   height: 30px;
//   border: 1px solid black;
//   border-radius: 5%;
//   width: 100%;
// }

// .login-form {
//   margin: auto;
//   width: 30%;
//   margin-top: 20%;
//   flex-direction: column;
//   display: flex;
// }

// .login-form button {
//   width: 100%;
//   padding: 5%;
// }

// header {
//   background-color: black;
//   display: flex;
//   justify-content: space-between;
//   color: white;
//   top: 0;
//   position: fixed;
//   height: 50px;
//   width: 100%;
// }

// button {
//   background-color: black;
//   border: 1px solid white;
//   color: white;
//   margin: 0.2%;
//   text-align: center;
//   border-radius: 5%;
// }

// .content-panel {
//   background-color: black;
//   width: 100vw;
//   display: flex;
//   color: white;
//   margin-top: 51px;
//   height: 110vh;
//   overflow-x: hidden;
//   flex-direction: column;
//   align-items: flex-start;
// }

// .admin-side-bar-container {
//   background-color: black;
//   color: white;
//   height: 100%;
//   display: flex;
//   justify-content: space-around;
// }

// .side-menu-container {
//   width: 20vw;
//   height: 100vh;
//   background-color: black;
//   display: flex;
//   flex-direction: column;
//   justify-content:space-around;
//   text-align: center;
//   position: fixed;
// }

// .side-menu-container button {
//   width: 100%;
//   border-right: none;
//   border-left: none;
// }

// .side-menu-main-options {
//   height: 30%;
//   display: flex;
//   flex-direction: column;
//   justify-content: space-between;
// }

// .isVisible {
//   visibility: visible;
// }

// .isNotVisible {
//   visibility: hidden;
// }

// header {
//   background-color: black;
//   display: flex;
//   justify-content: space-between;
//   color: white;
//   top: 0;
//   position: fixed;
//   width: 100%;
// }

// button {
//   background-color: black;
//   border: 1px solid white;
//   color: white;
//   margin: 0.2%;
//   text-align: center;
//   border-radius: 5%;
// }

// .side-menu-container {
//   background-color: black;
//   display: flex;
//   flex-direction: column;
// }

// .products-container {
//   justify-content: center;
//   margin-top: 10%;
//   display: flex;
//   flex-wrap: wrap;
//   margin-bottom: 5%;
// }

// .product-card {
//   width: 300px;
//   padding: 0.3%;
//   border: 1px solid black;
//   margin: 0.2%;
// }

// .quantity-controller {
//   border: 1px solid black;
//   display: flex;
//   justify-content: space-around;
// }

// .quantity-controller button{
//   width: 15%;
//   border-radius: 50%;
//   background-color:black;
// }

// .product-card-image {
//   height: 300px;
// }

// .cart-container {
//   right: 0;
//   height: 30px;
//   align-items: center;
//   justify-content: space-around;
//   width: 200px;
//   display: flex;
//   background-color: black;
//   color: white;
//   bottom: 0;
//   position: fixed;
// }