@import './variables.scss';

h1, h2, h3, h4, h5, p, span, div, section, header, button, input {
  font-family: 'MontSerrat';
  border: none;
  outline: none;
}

.defaultPage {
  // background-color: $lightGray;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.6);
  height: 100vh;
  width: 100vw;
  position: fixed;
  z-index: 1;
}

input {
  padding: 10px 10px 2px 10px;
  border-bottom: 1px solid $darkGreen;
  color: $lighterYellow;
  font-weight: bold;
  background-color: transparent;

  &:hover, &:focus {
    border: none;
    outline: none;
    border-bottom: 2px solid $darkGreen;
    transition: 0.5s;
  }

  &::placeholder {
    color: $darkerGray;
    font-size: $font-small;
  }

  &:-webkit-autofill,
  &:-webkit-autofill:hover, 
  &:-webkit-autofill:focus, 
  &:-webkit-autofill:active
  {
   -webkit-box-shadow: 0 0 0 30px $darkYellow inset !important;
   box-shadow: 0 0 0 30px $darkYellow inset !important;
  }
}

button {
  background-color: $darkGreen;
  padding: 10px;
  color: white;
  font-size: $font-small;
  border-radius: 5px;
  font-weight: bold;
  font-family: 'sans-serif';
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.6);
  transition: 0.5s;


  &:hover, &:active {
    background-color: $darkBrown;
    border-color: $darkGreen;
    border-width: 2px;
    transition: 0.5s;
  }

  &:disabled {
    background-color: $lightGray;
    border-color: $darkGray;
    opacity: 70%;
    color: $darkGray;
    transition: 0.5s;

    &:hover {
      background-color: $lightGray;
      border-color: $darkGray;
      opacity: 70%;
      color: $darkGray;
      transition: 0.5s;
    }
  }
}

button.golden {
  background-color: $gold;
  color: $darkBrown;
  transition: 0.5s;


  &:hover:enabled, &:active:enabled {
    background-color: $darkBrown;
    border-color: $gold;
    color: $gold;
  }

  &:disabled {
    @extend button:disabled
  }
}