$darkerGreen: #193d17;
$darkGreen: #255923;
$lightGreen: #65BF9E;
$lighterGreen: #78BFA5;
$gold: #F29F05;
$darkYellow: #F2BA52;
$lightYellow: #F2C777;
$lighterYellow: #D9B573;
$darkBrown: #401713;
$brown: #6b241d;
$lightBrown: #deb887;
$darkerGray: #686767;
$darkGray: #8f8f8f;
$gray: #a7a7a7;
$lightGray: #dedede;

$font-large: calc(12px + 0.6vw);
$font-medium: calc(10px + 0.6vw);
$font-small: calc(9px + 0.6vw);
$font-xsmall: calc(6px + 0.6vw);

@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
$main-font: 'Montserrat', sans-serif;

